<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\imageservicetests\testfolder;C:\imageservicetests\testfolder2"/>
    <add key="OutputDir" value="C:\Users\Avihay Arzuan\source\repos\ImageServiceWeb\ImageServiceWeb\Images"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
    <add key ="Port" value="8000"/>
  </appSettings>
</configuration>