<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\testfolder"/>
    <add key="OutputDir" value="C:\Users\testoutput"/>
    <add key="SourceName" value="test01"/>
    <add key="LogName" value="log01"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>